<mat-card class="user-detail-header">
    <button [matMenuTriggerFor]="usermenu" mat-icon-button class="pin-right-upper-corner" >
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #usermenu="matMenu">
        <button (click)="editUserDetail()" mat-menu-item>Edit</button>
        <!-- <button mat-menu-item>Item 2</button> -->
      </mat-menu>


    <img src="assets/img/profile.png" alt="">
    <div class="user-details">
        <h2>{{user.firstName}} {{user.lastName}}</h2>
        {{user.eMail}}
    </div>
</mat-card>

<mat-card class="mt-32">   
        <mat-card-title class="pl-16">Address</mat-card-title>
        <button [matMenuTriggerFor]="Addressmenu" mat-icon-button class="pin-right-upper-corner" (click)="openAddressDialog()">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #Addressmenu="matMenu">
            <button (click)="editMenu()" mat-menu-item>Edit</button>
            <!-- <button mat-menu-item>Item 2</button> -->
          </mat-menu>

        <mat-card-content>
           {{user.street}}  <br>
           {{user.zipCode}} {{user.city}}
        </mat-card-content>
</mat-card>
